
a.logo:link,a.logo:visited,a.logo:hover, a.logo:active {color:white;text-decoration:none;font-size:3em;font-family:"Calibri";padding-left:.7em;} body{background-color:rgba(0,0,0,1);}
a.logoside:link,a.logoside:visited,a.logoside:hover, a.logoside:active {color:white;text-decoration:none;font-size:3em;font-family:"Calibri";float:right;padding-top:.1em;padding-right:1em;} 
a.demo:link, a.demo:visited,a.demo:active{color:white;text-decoration:none;font-size:1.5em;text-align:center;font-family:"Calibri";}
a.demo:hover{color:blue;text-decoration:none;font-size:1.5em;text-align:center;font-family:"Calibri";}
heading {color:white; font-size:2em; text-align:center; font-family:'Arial';}
heading2 {color:white; text-align:center; font-size:1.5em}
message1 {color:red;font-size:1.5em; text-align:center;}
column {max-width:470px;text-align:center;margin-left:32%;}
colspan {color:white;font-size:1.5em;font-family:'Arial';}
colinput {margin-left:20%; padding: 12px 20px;margin: 8px 0;box-sizing: border-box;border:1.6px; border-style:solid; border-color:rgba(255,255,255,.4);size:'50';}
colinppic {margin-left:20%; margin: 8px 0;box-sizing: border-box;border:2px; border-style:solid; border-color:rgba(255,255,255,.4);font-size:1.5em;background-color:black;padding:4px;}
collist {margin-left:20%;padding: 12px 60px;margin: 8px 0;box-sizing: border-box;border:1.6px; border-style:solid; border-color:rgba(255,255,255,.4);}
columnbutton {max-width:470px;text-align:center;margin-left:32%;}
colbutton {border:0px; background-color:#4285F4; margin-top:8%;text-align:center;margin-left:35%;padding: 15px 32px;text-decoration: none;display: inline-block;  border: none;box-shadow: 5px 5px #999;cursor:pointer;height:50px; width:50%;margin-left:19%;}
colbuttext {color:black; font-size:1.5em;}
columnbox {margin-left:31%;text-align:center;max-width:470px; }
colboxspan {color:white; font-size:1.5em;font-family:'Arial';}
colboxinput {margin-left:20%;padding: 12px 60px;margin: 8px 0;box-sizing: border-box;border:1.6px; border-style:solid; border-color:rgba(255,255,255,.4);}
hr1 {color:white;}

