
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Red Plag </title>
    <script>
    var subjectObject = {"IIT Bombay":{},"IIT Madras":{}}
    window.onload = function() {
      var subjectSel = document.getElementById("university");
      for (var x in subjectObject) {
        subjectSel.options[subjectSel.options.length] = new Option(x);
      }
    }
</script>
<link rel="stylesheet" href="../../home/pranay/red_plag/UI/templates/all.css">
</head>
<body>
<a class="logo" href="/"><b>Red Plag</b></a>
<a class="logoside" href="/">Team 779499120</a>
<br>
<br>
<hr class="hr1">
<p class="heading">Forgot Password</p>
      <div class="message1">{{message1}}</div>
      <br>

      <form name = "form" action = "/forgotpassword2/" method = "post"  >{% csrf_token %}
         
         <div class="column">
                <label>
                <span class="colspan" >Email: </span>
               <input type = "email" class="colinput" placeholder = "email" name = "email" />
              </label>
         </div>
         <br>
         
         <div class="columnbutton">
            
               <button class = "colbutton" type = "submit" value = "sendlink" >
                  <div class="colbuttext">
                  <strong>Send Link</strong>
              </div>
               </button>
         </div>
         
      </form>
      <br>
      <form name = "login" action = "/" method = "post" >{% csrf_token %}
         <div class="columnbutton">
               <button class="colbutton" type = "submit" value = "login" >
                  <div class="colbuttext">
                  <strong>Login</strong>
              </div>
               </button>
         </div>
      </form>
      <br>
   </body>
</body>
</html>
