
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Red Plag </title>
<link rel="stylesheet" type="text/css" href="/{{ STATIC_URL }}static/all.css" />
</head>
<body>
<a class="logo" href="/"><b>Red Plag</b></a>
<a class="logoside" href="/">Team 779499120</a>
<hr class="hr1">
<p class="heading"><b>Forgot Password</b></p>
      <div class="message1">{{message1}}</div>
      <span>Link Sent Successfully</span>
      <form name = "login" action = "/" method = "post" >{% csrf_token %}
         <div class="columnbutton">
               <button class="colbutton" type = "submit" value = "login" >
                  <div class="colbuttext">
                  <strong>Login</strong>
              </div>
               </button>
         </div>
      </form>
   </body>
</body>
</html>
