<html>
<head>
<meta charset="UTF-8">
    <title> Red Plag </title>
    <link rel="stylesheet" type="text/css" href="/{{ STATIC_URL }}static/all.css" />
</head>
<body style="align:center;">
<a class="logo" href="/"><b>Red Plag</b></a>
<a class="logoside" href="/">Team 779499120</a>
<hr class="hr1">
<p class="heading"><b>Uploaded Files</b></p>
<div class="message1">{{message1}}</div>
{% for post in file %}
<a class="files" href="{{post.picture.url}}" download="{{post.picture.url}}">Download {{post.picture.name}}</a>
{% endfor %}
<form action="/{{username}}/univdashboard/">
      <div class="columnbutton">
               <button class="colbutton" type = "home" value = "home" >
                  <div class="colbuttext">
                  <strong>Home</strong>
              </div>
               </button>
         </div>
     </form>
</body>