
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Red Plag </title>
    <link rel="stylesheet" type="text/css" href="/{{ STATIC_URL }}static/all.css" />

</head>
<body>
<a class="logo" href="/"><b>Red Plag</b></a>
<a class="logoside" href="/">Team 779499120</a>
<hr class="hr1">
<p class="heading"><b>Login Page</b></p>
      <div class="message1">{{message1}}</div>
      <br>
      <form name = "form" action = "/" method = "post"  >{% csrf_token %}
         
         <div class="column">
            <span class="colspan" >Username:</span>
               <input type = "text" class = "colinput" 
                  placeholder = "username" name = "username" />
         </div>
            
         <br>
         
         <div class="column">
                <label>
                <span class="colspan" >Password: </span>
               <input type = "password" class="colinput" placeholder = "password" name = "password" />
              </label>
         </div>
         <br>
           <div class="columnbox">
            <span class="colboxspan">University:</span>
            <select class = "colboxinput" name="university" id="university">
              <option value="university" selected="selected" >Select</option>
            </select>
            <script>
              var links1="{{links}}"
              var options = links1.split(';');
              var select = document.getElementById("university");
              for(var i=0; i<options.length-1; i++)
              {
                  options[i]=options[i]
                  select.options[i] = new Option(options[i], options[i]);
              }
              </script>
            <br>
        </div>
         <br>
         <div class="column">
                <label>
                <span class="colspan" >Passcode: </span>
               <input type = "integer" class="colinput" placeholder = "passcode" name = "passcode" />
              </label>
         </div>
         
         <div class="columnbutton">
            
               <button class = "colbutton" type = "submit" value = "Login" >
                  <div class="colbuttext">
                  <strong>Login</strong>
              </div>
               </button>
         </div>
         
      </form>
      <form name = "signup" action = "/signup/" method = "post" >{% csrf_token %}
         <div class="columnbutton">
               <button class="colbutton" type = "submit" value = "Signup" >
                  <div class="colbuttext">
                  <strong>Join us</strong>
              </div>
               </button>
         </div>
      </form>
      <form name = "univsignup" action = "/univsignup/" method = "post" >{% csrf_token %}
         <div class="columnbutton">
               <button class="colbutton" type = "submit" value = "univlogin" >
                  <div class="colbuttext">
                  <strong>University Signup</strong>
              </div>
               </button>
         </div>
      </form>
      <form name = "aboutus" action = "/aboutus/" method = "post" >{% csrf_token %}
         <div class="columnbutton">
               <button class="colbutton" type = "submit" value = "aboutus" >
                  <div class="colbuttext">
                  <strong>About us</strong>
              </div>
               </button>
         </div>
      </form>
   </body>
</body>
</html>
