<html>
<meta charset="UTF-8">
    <title> Red Plag </title>
    <link rel="stylesheet" href="./all.css">
</head>
<body>
<a class="logo" href="/"><b>Red Plag</b></a>
<a class="logoside" href="/">Team 779499120</a>
<br>
<br>
<hr class="hr1">
<p class="heading">Sign Up</p>
      <form name = "form" action = "/univcreatedaccount/" method = "post" >{% csrf_token %}
         <div class="column">
            <span class="colspan">University Email:</span>
               <input type = "email" class="colinput"
                  placeholder = "email" name = "email" />
         </div>
         <br>
         <div class="column">
            <span class="colspan">Username:</span>
               <input type = "text" class="colinput"
                  placeholder = "username" name = "username" />
         </div>

         <br>

         <div class="column">
            <span class="colspan">Password:</span>
               <input type = "password" class="colinput"
                  placeholder = "password" name = "password1" />
         </div>

         <br>

         <div class="column">
            <span class="colspan">Password(again):</span>
               <input type = "password" class="colinput"
                  placeholder = "password(again)" name = "password2" />
         </div>
          <br>
           <div class="columnbox">
            <span class="colboxspan">University Name:</span> 
            <input type = "text" class="colinput"
                  placeholder = "university" name = "university" />
            <br>
        </div>
         <br>
         <div class="column">
                <label>
                <span class="colspan">Passcode: </span>
               <input type = "integer" class="colinput"
                  placeholder = "passcode" name = "passcode" />
              </label>
         </div>
         <br>
         <br>

         <div class="columnbutton">
               <button class="colbutton" type = "submit"
                  value = "save" >
                  <div class="colbuttext">
                  <strong>Save</strong>
              </div>
               </button>
         </div>

      </form>
      <form action="/">
          <div class="columnbutton">
               <button class="colbutton" type = "submit"
                  value = "login" >
                  <div class="colbuttext">
                  <strong>Login</strong>
              </div>
               </button>
         </div>
      </form>
      <div>
      {% if message2 %}
      <div class="message1">Error Message:</div>
      <div class="message1">{{message2}}</div>
      {% endif %}
   </div>
   </body>
</html>
