<html>
<head>
   <meta charset="UTF-8">
    <title> Red Plag </title>
    <link rel="stylesheet" href="all.css">
</head>
<body>
<a class="logo" href="/"><b>Red Plag</b></a>
<a class="logoside" href="/">Team 779499120</a>
<br>
<br>
<hr class="hr1">
<p class="heading">Password Change Form</p>

      <br>
   	
      <form name = "form" action = "/{{username}}/univsavepassword/"method = "post" >{% csrf_token %}
         
         <div class="column">
            <span class="colspan" >Old Password:</span>
               <input type = "password" class="colinput"
                  placeholder = "old password" name = "old_password" />
         </div>
			
         <br>
         
         <div class="column">
            <span class="colspan" >New Password:</span>
               <input type = "password" class="colinput" 
                  placeholder = "new password" name = "new_password1" />
         </div>
			
         <br>
         <div class="column">
            <span class="colspan" >Password(again):</span>
               <input type = "password" class="colinput"
                  placeholder = "new password (again)" name = "new_password2" />
         </div>
			
         <br>
         <div class="columnbutton">
            
               <button class="colbutton"  type = "submit" 
                  value = "Login" >
                  <div class="colbuttext">
                  <strong>Change</strong>
              </div>
               </button>
         </div>
      </form> 
      <form action="/{{username}}/univdashboard/">
      <div class="columnbutton">
               <button class="colbutton"  type = "home" 
                  value = "home" >
                  <div class="colbuttext">
                  <strong>Home</strong>
              </div>
               </button>
         </div>
     </form>
     <div class="message1">
      {% if message2 %}
      <div class="message1">{{message1}}</div>
      <div class="message1">{{message2}}</div>
      {% endif %}  
   </div>
   </body>
</html>